# Generated output
.vscode
.Xil
logs/*

# Projects
vitis/.metadata
vitis/RemoteSystemsTempFiles
vitis/zybo_design_wrapper
vitis/**/_ide
vitis/.analytics
vitis/IDE.log

vivado/vivado.cache
vivado/vivado.gen
vivado/vivado.runs